# OS X
.DS_Store*
Icon?
._*
.idea

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
builder/windows
builder/res
tmp
temp

# Linux
.directory
*~


# npm
node_modules
dist
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

*_bak
reports/**

pnpm-lock.yaml
package-lock.json
yarn.lock
yarn-error.log

# configs
ss.config.js
.grs.config.js
